n8n-workflows/outreach/wf-06-auto-discovery.json
{
  "name": "WF-06 \u2014 Auto Discovery [DEPRECATED: superseded by worker cron 'Daily Lead Discovery' at src/worker.ts \u2014 do not re-activate]",
  "nodes": [
    {
      "id": "abf4b3d7-ba83-4c16-bf38-8d7570c6394b",
      "name": "Schedule: Sunday 11AM IST",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        240,
        300
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "30 5 * * 0"
            }
          ]
        }
      }
    },
    {
      "id": "24027794-c97e-4f67-a26c-015a09f2fbec",
      "name": "HTTP: Login",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        460,
        300
      ],
      "onError": "continueRegularOutput",
      "parameters": {
        "url": "https://web-production-311da.up.railway.app/auth/login",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "string",
        "body": "=JSON.stringify({\"email\": \"jatin@growthescalators.com\", \"password\": $env.GE_CRM_PASSWORD || \"\"})",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          },
          "timeout": 15000
        }
      }
    },
    {
      "id": "2b2f3058-55fc-41cb-9b55-e9643f6d5bf2",
      "name": "Code: Extract Token",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        300
      ],
      "parameters": {
        "jsCode": "\nconst resp = $input.first().json;\nconst token = resp.token || '';\nif (!token) {\n  return [{ json: { token: '', error: 'Login failed: ' + JSON.stringify(resp) } }];\n}\n// Reset tracking data for this run\nconst sd = $getWorkflowStaticData('global');\nsd.queriesRun = 0;\nsd.totalDiscovered = 0;\nsd.totalQualified = 0;\nsd.totalImported = 0;\nsd.totalDuplicatesSkipped = 0;\nsd.runCost = 0;\nsd.topFinds = [];\nsd.failedQueries = 0;\nreturn [{ json: { token } }];\n"
      }
    },
    {
      "id": "85f107da-8f45-4d63-bd01-a0a27f26f008",
      "name": "HTTP: Check Budget",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        900,
        300
      ],
      "onError": "continueRegularOutput",
      "parameters": {
        "url": "https://web-production-311da.up.railway.app/api/outreach/discover/budget",
        "method": "GET",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Code: Extract Token').first().json.token }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          },
          "timeout": 15000
        }
      }
    },
    {
      "id": "bb69a69a-48a7-4323-b546-db269cc87761",
      "name": "Code: Evaluate Budget",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        300
      ],
      "parameters": {
        "jsCode": "\nconst budget = $input.first().json;\nconst token = $('Code: Extract Token').first().json.token;\nconst costUsd = parseFloat(budget.costUsd || 0);\nconst budgetOk = costUsd < 150; // 75% of $200\nreturn [{ json: { token, costUsd, budgetOk, budgetPct: budget.pctUsed || 0 } }];\n"
      }
    },
    {
      "id": "4ea517df-a25e-4a9b-bf4e-36c86d92dfce",
      "name": "IF: Budget OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1340,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true
          },
          "conditions": [
            {
              "id": "6bcdda45-cc87-45ce-b7a7-3cb444d1c668",
              "leftValue": "={{ $json.budgetOk ? 1 : 0 }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "becc5dcf-a89d-4b1d-adda-120bab4edfe5",
      "name": "Slack: Budget Warning",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1560,
        500
      ],
      "onError": "continueRegularOutput",
      "parameters": {
        "url": "={{ $env.SLACK_OUTREACH_WEBHOOK }}",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "string",
        "body": "=JSON.stringify({\"text\": \"\u26a0\ufe0f [AUTO-DISCOVERY SKIPPED] API budget at \" + $(\"Code: Evaluate Budget\").first().json.budgetPct + \"% \u2014 skipping to avoid charges.\"})",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      }
    },
    {
      "id": "93968265-f138-4c8e-ad94-2a7256a9a08f",
      "name": "HTTP: Get Saved Searches",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1560,
        300
      ],
      "onError": "continueRegularOutput",
      "parameters": {
        "url": "https://web-production-311da.up.railway.app/api/outreach/discover/searches",
        "method": "GET",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Code: Extract Token').first().json.token }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          },
          "timeout": 15000
        }
      }
    },
    {
      "id": "cae7049f-f81c-4803-81b0-80c17a64e880",
      "name": "Code: Deduplicate Queries",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1780,
        300
      ],
      "parameters": {
        "jsCode": "\nconst resp = $input.first().json;\nconst searches = resp.searches || [];\n\n// Deduplicate by query+location+country, keep most recent\nconst seen = new Map();\nfor (const s of searches) {\n  const key = (s.query + '|' + s.location + '|' + s.country).toLowerCase();\n  if (!seen.has(key)) {\n    seen.set(key, s);\n  }\n}\n\nconst unique = [...seen.values()].slice(0, 10); // max 10\nconst token = $('Code: Extract Token').first().json.token;\n\nif (unique.length === 0) {\n  return [{ json: { hasQueries: false, token, queries: [] } }];\n}\n\n// Return one item per query for SplitInBatches\nreturn unique.map(q => ({\n  json: {\n    hasQueries: true,\n    token,\n    searchQuery: q.query,\n    searchLocation: q.location,\n    searchCountry: q.country || 'UK'\n  }\n}));\n"
      }
    },
    {
      "id": "d5e60314-3877-4eb7-911d-66b05440de51",
      "name": "IF: Has Queries?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2000,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true
          },
          "conditions": [
            {
              "id": "2c96fa72-afa3-4dd5-8c22-0180bfa6fb6e",
              "leftValue": "={{ $json.hasQueries ? 1 : 0 }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "6709366f-feb7-408c-bd41-a32b24b1eb36",
      "name": "Slack: No Queries",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2220,
        500
      ],
      "onError": "continueRegularOutput",
      "parameters": {
        "url": "={{ $env.SLACK_OUTREACH_WEBHOOK }}",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "string",
        "body": "=JSON.stringify({\"text\": \"\u2139\ufe0f [AUTO-DISCOVERY] No saved queries to auto-discover. Run a manual search first.\"})",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      }
    },
    {
      "id": "d48204ec-a8bf-4d5a-bceb-05e6881018c7",
      "name": "SplitInBatches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2220,
        300
      ],
      "parameters": {
        "batchSize": 1,
        "options": {}
      }
    },
    {
      "id": "c0616a3e-de14-40d2-b078-eb9e42e00119",
      "name": "HTTP: Run Search",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2440,
        300
      ],
      "onError": "continueRegularOutput",
      "parameters": {
        "url": "https://web-production-311da.up.railway.app/api/outreach/discover",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Code: Extract Token').first().json.token }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "string",
        "body": "=JSON.stringify({\"query\": $json.searchQuery, \"location\": $json.searchLocation, \"country\": $json.searchCountry, \"maxResults\": 20})",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          },
          "timeout": 60000
        }
      }
    },
    {
      "id": "1cbea5cd-6de8-422f-8077-2923617432d1",
      "name": "Wait: 3s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2660,
        300
      ],
      "parameters": {
        "amount": 3,
        "unit": "seconds"
      },
      "webhookId": "1ae1b702-3438-4173-9a6e-b887eb6788e9"
    },
    {
      "id": "e7024d90-0f54-4605-b33e-fb8afaf4e2f2",
      "name": "Code: Process Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2880,
        300
      ],
      "parameters": {
        "jsCode": "\nconst resp = $input.first().json;\nconst token = $('Code: Extract Token').first().json.token;\nconst sd = $getWorkflowStaticData('global');\n\nsd.queriesRun = (sd.queriesRun || 0) + 1;\n\nif (resp.error) {\n  sd.failedQueries = (sd.failedQueries || 0) + 1;\n  return [{ json: { token, qualifiedIds: [], qualifiedCount: 0, hasQualified: false } }];\n}\n\nconst results = resp.results || [];\nconst totalFound = results.length;\nsd.totalDiscovered = (sd.totalDiscovered || 0) + totalFound;\n\n// Filter: qualified (score >= 70) AND not already imported\nconst qualified = results.filter(r => r.fitScore >= 70 && !r.imported);\nconst duplicatesSkipped = results.filter(r => r.imported).length;\nsd.totalQualified = (sd.totalQualified || 0) + qualified.length;\nsd.totalDuplicatesSkipped = (sd.totalDuplicatesSkipped || 0) + duplicatesSkipped;\nsd.runCost = (sd.runCost || 0) + parseFloat(resp.costUsd || 0);\n\n// Track top finds\nconst topFinds = sd.topFinds || [];\nfor (const r of qualified.slice(0, 3)) {\n  topFinds.push({ name: r.companyName, country: r.address || '', score: r.fitScore });\n}\nsd.topFinds = topFinds.slice(0, 5);\n\nconst ids = qualified.map(r => r.id);\n\nreturn [{ json: { token, qualifiedIds: ids, qualifiedCount: ids.length, hasQualified: ids.length > 0 } }];\n"
      }
    },
    {
      "id": "5c54c306-9d98-4e4f-9a4c-46650b08ec7f",
      "name": "IF: Has Qualified?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3100,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true
          },
          "conditions": [
            {
              "id": "100902e4-34eb-4a4c-b8b6-de6b50f47201",
              "leftValue": "={{ $json.qualifiedCount }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "40b0340b-8928-44e5-9c3b-e7d74c711621",
      "name": "HTTP: Import Leads",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3320,
        200
      ],
      "onError": "continueRegularOutput",
      "parameters": {
        "url": "https://web-production-311da.up.railway.app/api/outreach/discover/import",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Code: Extract Token').first().json.token }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "string",
        "body": "=JSON.stringify({\"resultIds\": $json.qualifiedIds, \"assignedTo\": \"round-robin\"})",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          },
          "timeout": 30000
        }
      }
    },
    {
      "id": "0ebf094d-66ff-4f79-a460-01107139b165",
      "name": "Code: Track Import",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3540,
        200
      ],
      "parameters": {
        "jsCode": "\nconst resp = $input.first().json;\nconst sd = $getWorkflowStaticData('global');\nsd.totalImported = (sd.totalImported || 0) + (resp.imported || 0);\nreturn [{ json: { ok: true } }];\n"
      }
    },
    {
      "id": "7a253cf0-4851-49e8-9c75-919b613b7d99",
      "name": "Code: Skip Import",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3320,
        420
      ],
      "parameters": {
        "jsCode": "\nreturn [{ json: { ok: true } }];\n"
      }
    },
    {
      "id": "d6a571ee-f30d-4c04-80be-1ba7454fc9f5",
      "name": "HTTP: Final Budget",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2440,
        600
      ],
      "onError": "continueRegularOutput",
      "parameters": {
        "url": "https://web-production-311da.up.railway.app/api/outreach/discover/budget",
        "method": "GET",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Code: Extract Token').first().json.token }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          },
          "timeout": 15000
        }
      }
    },
    {
      "id": "e9be209e-c24b-48f7-bd56-ad6067d4e58d",
      "name": "Code: Format Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2660,
        600
      ],
      "parameters": {
        "jsCode": "\nconst budget = $input.first().json;\nconst sd = $getWorkflowStaticData('global');\n\nconst queriesRun = sd.queriesRun || 0;\nconst totalDiscovered = sd.totalDiscovered || 0;\nconst totalQualified = sd.totalQualified || 0;\nconst totalImported = sd.totalImported || 0;\nconst dupsSkipped = sd.totalDuplicatesSkipped || 0;\nconst runCost = (sd.runCost || 0).toFixed(2);\nconst monthlyCost = parseFloat(budget.costUsd || 0).toFixed(2);\nconst topFinds = sd.topFinds || [];\n\nlet topFindsText = '';\nif (topFinds.length > 0) {\n  topFindsText = '\u2502\\n\u2502 Top finds:\\n';\n  for (const f of topFinds.slice(0, 3)) {\n    topFindsText += '\u2502 \u2022 ' + f.name + ' \u2014 score ' + f.score + '\\n';\n  }\n}\n\nconst report = [\n  '\u250c\u2500 Weekly Auto-Discovery Report \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500',\n  '\u2502 Queries re-run: ' + queriesRun,\n  '\u2502 New leads discovered: ' + totalDiscovered,\n  '\u2502 Qualified: ' + totalQualified + ' | Imported: ' + totalImported,\n  '\u2502 Duplicates skipped: ' + dupsSkipped,\n  '\u2502 API cost this run: $' + runCost,\n  '\u2502 Monthly API budget: $' + monthlyCost + ' / $200.00',\n  topFindsText ? topFindsText.trimEnd() : '',\n  '\u2514\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500'\n].filter(Boolean).join('\\n');\n\n// Clean up static data\nsd.queriesRun = 0;\nsd.totalDiscovered = 0;\nsd.totalQualified = 0;\nsd.totalImported = 0;\nsd.totalDuplicatesSkipped = 0;\nsd.runCost = 0;\nsd.topFinds = [];\nsd.failedQueries = 0;\n\nreturn [{ json: { report, totalImported } }];\n"
      }
    },
    {
      "id": "871bde5c-8d13-4e2a-a8ec-b714b9a28560",
      "name": "Slack: Post Report",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2880,
        600
      ],
      "onError": "continueRegularOutput",
      "parameters": {
        "url": "={{ $env.SLACK_OUTREACH_WEBHOOK }}",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "string",
        "body": "=JSON.stringify({\"text\": \"```\" + $json.report + \"```\"})",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      }
    },
    {
      "id": "981075ae-bc3b-4dad-8bf5-a7bb7985e4a0",
      "name": "IF: Any Imported?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3100,
        600
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true
          },
          "conditions": [
            {
              "id": "a04a3ae5-c469-4759-a8ea-128e185e1828",
              "leftValue": "={{ $json.totalImported }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "31f0cb39-d41e-4af6-8ac0-30c322d7b72b",
      "name": "Slack: Import Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3320,
        540
      ],
      "onError": "continueRegularOutput",
      "parameters": {
        "url": "={{ $env.SLACK_OUTREACH_WEBHOOK }}",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "string",
        "body": "=JSON.stringify({\"text\": \"\ud83d\ude80 [AUTO-DISCOVERY] \" + $(\"Code: Format Report\").first().json.totalImported + \" new leads imported. WF-01 will enrich them within 5 minutes.\"})",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      }
    },
    {
      "id": "cb0926c2-974b-468b-af7a-36ed02169a79",
      "name": "Note: Auth",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        440,
        140
      ],
      "parameters": {
        "content": "**Step 1-2: Auth + Budget Check**\\nLogin to get JWT, check API spend < 75%",
        "width": 460,
        "height": 70
      }
    },
    {
      "id": "5022623d-6e08-48df-a923-b3d8d84ec980",
      "name": "Note: Queries",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1540,
        140
      ],
      "parameters": {
        "content": "**Step 3-4: Saved Queries**\\nDeduplicate by query+location, max 10",
        "width": 460,
        "height": 70
      }
    },
    {
      "id": "0361cf6f-68e1-4303-b3aa-45f8474c878f",
      "name": "Note: Loop",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2400,
        140
      ],
      "parameters": {
        "content": "**Step 5: Search Loop**\\nRun each query, 3s delay, import qualified leads",
        "width": 560,
        "height": 70
      }
    },
    {
      "id": "936ff648-3115-4957-ae23-2b7a946fd898",
      "name": "Note: Report",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2420,
        490
      ],
      "parameters": {
        "content": "**Step 6: Report**\\nPost weekly summary + import alert to Slack",
        "width": 500,
        "height": 70
      }
    }
  ],
  "connections": {
    "Schedule: Sunday 11AM IST": {
      "main": [
        [
          {
            "node": "HTTP: Login",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Login": {
      "main": [
        [
          {
            "node": "Code: Extract Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Extract Token": {
      "main": [
        [
          {
            "node": "HTTP: Check Budget",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Check Budget": {
      "main": [
        [
          {
            "node": "Code: Evaluate Budget",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Evaluate Budget": {
      "main": [
        [
          {
            "node": "IF: Budget OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: Budget OK?": {
      "main": [
        [
          {
            "node": "HTTP: Get Saved Searches",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Slack: Budget Warning",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Get Saved Searches": {
      "main": [
        [
          {
            "node": "Code: Deduplicate Queries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Deduplicate Queries": {
      "main": [
        [
          {
            "node": "IF: Has Queries?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: Has Queries?": {
      "main": [
        [
          {
            "node": "SplitInBatches",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Slack: No Queries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SplitInBatches": {
      "main": [
        [
          {
            "node": "HTTP: Run Search",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP: Final Budget",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Run Search": {
      "main": [
        [
          {
            "node": "Wait: 3s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait: 3s": {
      "main": [
        [
          {
            "node": "Code: Process Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Process Results": {
      "main": [
        [
          {
            "node": "IF: Has Qualified?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: Has Qualified?": {
      "main": [
        [
          {
            "node": "HTTP: Import Leads",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code: Skip Import",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Import Leads": {
      "main": [
        [
          {
            "node": "Code: Track Import",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Track Import": {
      "main": [
        [
          {
            "node": "SplitInBatches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Skip Import": {
      "main": [
        [
          {
            "node": "SplitInBatches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Final Budget": {
      "main": [
        [
          {
            "node": "Code: Format Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Format Report": {
      "main": [
        [
          {
            "node": "Slack: Post Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack: Post Report": {
      "main": [
        [
          {
            "node": "IF: Any Imported?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: Any Imported?": {
      "main": [
        [
          {
            "node": "Slack: Import Alert",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": []
}