n8n-workflows/seo/WF-SEO-11-content-decay.json
{
  "name": "WF-SEO-11: Content Decay Detector",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "30 3 1-7 * 1"
            }
          ]
        }
      },
      "id": "seo11-cron",
      "name": "Schedule: First Monday 3:30AM UTC",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  current.project_name,\n  current.keyword,\n  current.current_position AS current_pos,\n  current.url_ranking,\n  old.current_position AS pos_90_days_ago,\n  (old.current_position - current.current_position) AS position_drop,\n  current.search_volume\nFROM keyword_rankings current\nJOIN keyword_rankings old ON (\n  old.project_name = current.project_name\n  AND old.keyword = current.keyword\n  AND old.recorded_date BETWEEN CURRENT_DATE - INTERVAL '97 days' AND CURRENT_DATE - INTERVAL '83 days'\n)\nWHERE current.recorded_date >= CURRENT_DATE - INTERVAL '7 days'\n  AND (old.current_position - current.current_position) >= 5\nORDER BY position_drop DESC\nLIMIT 20;",
        "options": {}
      },
      "id": "seo11-detect-decay",
      "name": "Detect Decaying Pages",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [450, 300],
      "credentials": {
        "postgres": {
          "id": "N7nIyQgdtKFT9Ye8",
          "name": "Growth Escalators Postgres"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nif (items.length === 0 || !items[0].json.keyword) {\n  return [{ json: { skip: true, message: 'No decaying pages found this month' } }];\n}\nreturn items;"
      },
      "id": "seo11-check-empty",
      "name": "Check for Decay",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "url": "={{ $json.url_ranking ? ($json.url_ranking.includes('aarohaom.com') ? 'https://aarohaom.com' : $json.url_ranking.includes('blackpanda') ? 'https://blackpandaenterprises.com' : 'https://ageddentistry.org') + '/wp-json/wp/v2/posts?search=' + encodeURIComponent($json.keyword) + '&_fields=id,title,content,slug&per_page=1' : 'https://httpbin.org/get' }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": false
            }
          }
        }
      },
      "id": "seo11-fetch-content",
      "name": "Fetch Page Content via WP",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "jsCode": "const wpData = $input.item.json;\nconst decayData = $('Check for Decay').item.json;\n\nif (decayData.skip) return [{ json: decayData }];\n\nconst post = Array.isArray(wpData) ? wpData[0] : null;\nconst contentSnippet = post?.content?.rendered\n  ? post.content.rendered.replace(/<[^>]+>/g, '').slice(0, 2000)\n  : 'Content not fetched';\n\nconst prompt = `This page has dropped ${decayData.position_drop} positions in Google over 90 days.\nKeyword: \"${decayData.keyword}\"\nCurrent position: ${decayData.current_pos}\nPrevious position (90d ago): ${decayData.pos_90_days_ago}\n\nCurrent page content snippet:\n${contentSnippet}\n\nProvide 3 specific, actionable recommendations to recover this page's ranking.\nFocus on: content freshness, keyword depth, E-E-A-T signals.\nReturn as JSON: { \"recommendations\": [{\"action\": \"...\", \"why\": \"...\", \"priority\": \"high/medium/low\"}] }`;\n\nreturn [{ json: { ...decayData, postId: post?.id, claudePrompt: prompt } }];"
      },
      "id": "seo11-build-prompt",
      "name": "Build Refresh Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "={{ $env.CLAUDE_API_KEY }}" },
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "jsonBody": "={\"model\":\"claude-sonnet-4-6\",\"max_tokens\":1024,\"messages\":[{\"role\":\"user\",\"content\":{{ $json.claudePrompt | toJsonString }}}]}",
        "options": {}
      },
      "id": "seo11-claude",
      "name": "Claude Refresh Recommendations",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "jsCode": "const claudeData = $input.item.json;\nconst inputData = $('Build Refresh Prompt').item.json;\n\nif (inputData.skip) return [{ json: inputData }];\n\nlet recs = [];\ntry {\n  const rawText = claudeData.content?.[0]?.text || '{}';\n  const jsonMatch = rawText.match(/\\{[\\s\\S]*\\}/);\n  const parsed = jsonMatch ? JSON.parse(jsonMatch[0]) : {};\n  recs = parsed.recommendations || [];\n} catch(e) {}\n\nreturn [{ json: {\n  projectName: inputData.project_name,\n  keyword: inputData.keyword,\n  currentPos: inputData.current_pos,\n  positionDrop: inputData.position_drop,\n  urlRanking: inputData.url_ranking,\n  recommendations: recs\n}}];"
      },
      "id": "seo11-parse",
      "name": "Parse Recommendations",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1450, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO seo_opportunities (project_name, opportunity_type, description, estimated_impact, effort_level, status)\nSELECT\n  '{{ $json.projectName }}',\n  'content_refresh',\n  'Keyword \"{{ $json.keyword }}\" dropped {{ $json.positionDrop }} positions — refresh needed for: ' || rec->>'action',\n  'Recover to position ' || {{ $json.currentPos - $json.positionDrop }},\n  rec->>'priority',\n  'open'\nFROM jsonb_array_elements('{{ JSON.stringify($json.recommendations) }}'::jsonb) AS rec;",
        "options": {}
      },
      "id": "seo11-store",
      "name": "Store Opportunities",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1650, 300],
      "credentials": {
        "postgres": {
          "id": "N7nIyQgdtKFT9Ye8",
          "name": "Growth Escalators Postgres"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const allItems = $input.all();\nconst decayPages = allItems.map(i => i.json).filter(d => !d.skip);\n\nif (decayPages.length === 0) {\n  return [{ json: { summaryText: '✅ *Content Decay Report — No decaying pages found this month!*' } }];\n}\n\nlet msg = `*📉 Monthly Content Decay Report — ${new Date().toDateString()}*\\n\\n`;\nmsg += `${decayPages.length} pages showing decay (5+ position drop over 90 days):\\n\\n`;\n\ndecayPages.forEach(d => {\n  msg += `*${d.projectName}* — \"${d.keyword}\"\\n`;\n  msg += `  Dropped: #${d.currentPos - d.positionDrop} → #${d.currentPos} (${d.positionDrop} positions)\\n`;\n  if (d.recommendations?.length > 0) {\n    msg += `  Top fix: ${d.recommendations[0].action}\\n`;\n  }\n  msg += '\\n';\n});\n\nmsg += '_Refresh recommendations stored in seo_opportunities table._';\n\nreturn [{ json: { summaryText: msg } }];"
      },
      "id": "seo11-summary",
      "name": "Build Decay Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1850, 300]
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C08EMRX2HHN",
          "mode": "id"
        },
        "text": "={{ $json.summaryText }}",
        "otherOptions": {}
      },
      "id": "seo11-slack",
      "name": "Post Decay Report",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [2050, 300],
      "credentials": {
        "slackApi": {
          "id": "VaNm8cr89lLAGlpJ",
          "name": "Slack Bot"
        }
      }
    }
  ],
  "connections": {
    "Schedule: First Monday 3:30AM UTC": {
      "main": [[{ "node": "Detect Decaying Pages", "type": "main", "index": 0 }]]
    },
    "Detect Decaying Pages": {
      "main": [[{ "node": "Check for Decay", "type": "main", "index": 0 }]]
    },
    "Check for Decay": {
      "main": [[{ "node": "Fetch Page Content via WP", "type": "main", "index": 0 }]]
    },
    "Fetch Page Content via WP": {
      "main": [[{ "node": "Build Refresh Prompt", "type": "main", "index": 0 }]]
    },
    "Build Refresh Prompt": {
      "main": [[{ "node": "Claude Refresh Recommendations", "type": "main", "index": 0 }]]
    },
    "Claude Refresh Recommendations": {
      "main": [[{ "node": "Parse Recommendations", "type": "main", "index": 0 }]]
    },
    "Parse Recommendations": {
      "main": [[{ "node": "Store Opportunities", "type": "main", "index": 0 }]]
    },
    "Store Opportunities": {
      "main": [[{ "node": "Build Decay Report", "type": "main", "index": 0 }]]
    },
    "Build Decay Report": {
      "main": [[{ "node": "Post Decay Report", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [{ "name": "SEO" }]
}
