n8n-workflows/seo/WF-SEO-04-upgraded.json
{
  "name": "WF-SEO-04: WordPress Content Publisher",
  "nodes": [
    {
      "id": "d1000000-0000-0000-0000-000000000401",
      "name": "Webhook: Publish Content",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "seo-publish-webhook",
      "parameters": {
        "httpMethod": "POST",
        "path": "seo-publish",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "d1000000-0000-0000-0000-000000000402",
      "name": "Validate Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300],
      "parameters": {
        "jsCode": "const body = $input.item.json.body || $input.item.json;\n\nconst allowed = ['aarohaom', 'blackpanda', 'ageddentistry'];\nconst project = (body.projectName || '').toLowerCase().trim();\n\nif (!allowed.includes(project)) {\n  throw new Error('Invalid projectName \"' + project + '\". Must be one of: ' + allowed.join(', '));\n}\n\nconst required = ['targetKeyword', 'serviceType', 'location'];\nfor (const field of required) {\n  if (!body[field]) throw new Error('Missing required field: ' + field);\n}\n\nconst wpConfig = {\n  aarohaom: {\n    url: $env.WP_AAROHAOM_URL || 'https://aarohaom.com',\n    user: $env.WP_AAROHAOM_USER,\n    pass: $env.WP_AAROHAOM_PASS\n  },\n  blackpanda: {\n    url: $env.WP_BLACKPANDA_URL || 'https://blackpandaenterprises.com',\n    user: $env.WP_BLACKPANDA_USER,\n    pass: $env.WP_BLACKPANDA_PASS\n  },\n  ageddentistry: {\n    url: $env.WP_AGEDDENTISTRY_URL || 'https://ageddentistry.org',\n    user: $env.WP_AGEDDENTISTRY_USER,\n    pass: $env.WP_AGEDDENTISTRY_PASS\n  }\n};\n\nconst wp = wpConfig[project];\nif (!wp.url || !wp.user || !wp.pass) {\n  throw new Error('Missing WordPress credentials for project: ' + project);\n}\n\nconst authHeader = 'Basic ' + Buffer.from(wp.user + ':' + wp.pass).toString('base64');\n\nreturn [{\n  json: {\n    projectName: project,\n    targetKeyword: body.targetKeyword,\n    serviceType: body.serviceType,\n    location: body.location,\n    supportingData: body.supportingData || '',\n    faqQuestions: body.faqQuestions || [],\n    wpUrl: wp.url,\n    authHeader,\n    requestId: Date.now().toString()\n  }\n}];"
      }
    },
    {
      "id": "d1000000-0000-0000-0000-000000000409",
      "name": "Fetch Knowledge Base",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [680, 300],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT brand_summary, brand_voice, ideal_customer, unique_value_proposition, words_always_use, words_never_use, proof_points\nFROM client_knowledge_base\nWHERE project_name = '{{ $json.projectName }}'\nLIMIT 1;",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "N7nIyQgdtKFT9Ye8",
          "name": "Growth Escalators Postgres"
        }
      }
    },
    {
      "id": "d1000000-0000-0000-0000-000000000402b",
      "name": "Build Claude Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300],
      "parameters": {
        "jsCode": "const d = $('Validate Input').item.json;\nconst kb = $input.item.json || {};\n\n// Build brand context from knowledge base\nconst brandContext = kb.brand_summary ? `\nBRAND CONTEXT (MUST follow these guidelines):\n- Brand Summary: ${kb.brand_summary}\n- Target Audience: ${kb.ideal_customer || 'Not specified'}\n- Brand Voice: ${kb.brand_voice || 'Professional'}\n- Unique Value Proposition: ${kb.unique_value_proposition || 'Not specified'}\n- ALWAYS USE these words/phrases: ${JSON.stringify(kb.words_always_use || [])}\n- NEVER USE these words: ${JSON.stringify(kb.words_never_use || [])}\n- Proof Points to reference: ${JSON.stringify(kb.proof_points || [])}\n` : '';\n\nconst prompt = `You are an expert SEO copywriter. Generate a complete, SEO-optimised WordPress page.\n${brandContext}\nBrief:\n- Target Keyword: ${d.targetKeyword}\n- Service Type: ${d.serviceType}\n- Location/Variant: ${d.location}\n- Supporting Data: ${d.supportingData || 'Not provided'}\n- FAQ Questions to answer: ${JSON.stringify(d.faqQuestions || [])}\n\nOutput ONLY valid JSON — no markdown, no explanation:\n{\n  \"h1\": \"SEO-optimised H1 (include keyword naturally)\",\n  \"metaTitle\": \"Meta title under 60 chars — keyword and location\",\n  \"metaDescription\": \"150-160 chars — compelling, keyword + CTA\",\n  \"heroParagraph\": \"2-3 sentence hero — unique, specific, mentions location and service\",\n  \"serviceDescription\": \"3-4 paragraphs HTML. Use <p> tags. Keyword 3-4 times naturally.\",\n  \"trustPoints\": [\"specific credibility point 1\", \"point 2\", \"point 3\"],\n  \"faqSchema\": [{\"question\": \"...\", \"answer\": \"2-3 sentences\"}],\n  \"ctaSection\": \"<p>Strong CTA HTML. Use <strong> for key phrases.</p>\",\n  \"pageTitle\": \"WordPress page title\"\n}\n\nMake all content specific to ${d.serviceType} in ${d.location}.`;\n\nreturn [{\n  json: {\n    ...d,\n    brandVoice: kb.brand_voice || 'Professional',\n    claudeMessages: [{ role: 'user', content: prompt }]\n  }\n}];"
      }
    },
    {
      "id": "d1000000-0000-0000-0000-000000000403",
      "name": "Generate Content with Claude",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 300],
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "={{ $env.CLAUDE_API_KEY }}" },
            { "name": "anthropic-version", "value": "2023-06-01" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            { "name": "model", "value": "claude-sonnet-4-6" },
            { "name": "max_tokens", "value": 4096 },
            { "name": "messages", "value": "={{ $json.claudeMessages }}" }
          ]
        }
      }
    },
    {
      "id": "d1000000-0000-0000-0000-000000000410",
      "name": "NL API Entity Scoring",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1340, 300],
      "parameters": {
        "url": "https://language.googleapis.com/v1/documents:analyzeEntities",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "key", "value": "={{ $env.GOOGLE_PLACES_API_KEY }}" }
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "jsonBody": "={\"document\":{\"type\":\"PLAIN_TEXT\",\"content\":{{ ($input.item.json.content[0]?.text || '').replace(/[\"\\\\]/g,'').slice(0,1000) | toJsonString }}},\"encodingType\":\"UTF8\"}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      }
    },
    {
      "id": "d1000000-0000-0000-0000-000000000411",
      "name": "Check Entity Salience",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, 300],
      "parameters": {
        "jsCode": "const nlData = $input.item.json;\nconst claudeData = $('Generate Content with Claude').item.json;\nconst promptData = $('Build Claude Prompt').item.json;\n\n// Find target keyword entity salience\nconst targetKw = promptData.targetKeyword?.toLowerCase() || '';\nconst entities = nlData.entities || [];\n\nlet keywordSalience = 0;\nfor (const entity of entities) {\n  if (entity.name?.toLowerCase().includes(targetKw) || targetKw.includes(entity.name?.toLowerCase())) {\n    keywordSalience = Math.max(keywordSalience, entity.salience || 0);\n  }\n}\n\nconst needsRefinement = keywordSalience < 0.3 && entities.length > 0;\n\n// Pass Claude response through unchanged, just add salience info\nreturn [{\n  json: {\n    ...claudeData,\n    keywordSalience,\n    needsRefinement,\n    nlApiWorked: entities.length > 0,\n    _promptData: promptData\n  }\n}];"
      }
    },
    {
      "id": "d1000000-0000-0000-0000-000000000404",
      "name": "Parse Claude Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1780, 300],
      "parameters": {
        "jsCode": "const claudeResponse = $input.item.json;\nconst orig = $('Build Claude Prompt').item.json;\n\nconst rawText = claudeResponse.content?.[0]?.text || '';\nif (!rawText) {\n  throw new Error('Claude returned empty response: ' + JSON.stringify(claudeResponse).substring(0, 300));\n}\n\nlet content;\ntry {\n  const cleaned = rawText.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n  content = JSON.parse(cleaned);\n} catch (e) {\n  throw new Error('Claude returned invalid JSON: ' + rawText.substring(0, 300));\n}\n\nconst trustPointsHtml = (content.trustPoints || []).map(p => '<li>' + p + '</li>').join('\\n');\nconst faqSchemaJson = JSON.stringify({\n  '@context': 'https://schema.org',\n  '@type': 'FAQPage',\n  mainEntity: (content.faqSchema || []).map(item => ({\n    '@type': 'Question',\n    name: item.question,\n    acceptedAnswer: { '@type': 'Answer', text: item.answer }\n  }))\n});\nconst faqHtml = (content.faqSchema || []).map(item =>\n  '<div class=\"faq-item\"><h3>' + item.question + '</h3><p>' + item.answer + '</p></div>'\n).join('\\n');\n\nconst fullContent = '\\n<h2>' + content.h1 + '</h2>\\n<p>' + content.heroParagraph + '</p>\\n\\n' +\n  content.serviceDescription + '\\n\\n<h2>Why Choose Us</h2>\\n<ul>\\n' + trustPointsHtml + '\\n</ul>\\n\\n' +\n  '<h2>Frequently Asked Questions</h2>\\n' + faqHtml + '\\n\\n<div class=\"cta-section\">\\n' + content.ctaSection +\n  '\\n</div>\\n\\n<script type=\"application/ld+json\">\\n' + faqSchemaJson + '\\n</script>\\n';\n\nreturn [{\n  json: {\n    projectName: orig.projectName,\n    targetKeyword: orig.targetKeyword,\n    serviceType: orig.serviceType,\n    location: orig.location,\n    wpUrl: orig.wpUrl,\n    authHeader: orig.authHeader,\n    requestId: orig.requestId,\n    wpTitle: content.pageTitle || content.h1,\n    wpContent: fullContent,\n    metaTitle: content.metaTitle,\n    metaDescription: content.metaDescription,\n    h1: content.h1,\n    keywordSalience: claudeResponse.keywordSalience || 0\n  }\n}];"
      }
    },
    {
      "id": "d1000000-0000-0000-0000-000000000405",
      "name": "Create WordPress Draft",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2000, 300],
      "parameters": {
        "method": "POST",
        "url": "={{ $json.wpUrl.replace(/\\/$/, '') + '/wp-json/wp/v2/pages' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "={{ $json.authHeader }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            { "name": "title", "value": "={{ $json.wpTitle }}" },
            { "name": "content", "value": "={{ $json.wpContent }}" },
            { "name": "status", "value": "draft" },
            {
              "name": "meta",
              "value": "={{ { rank_math_title: $json.metaTitle, rank_math_description: $json.metaDescription, rank_math_canonical_url: $json.wpUrl + '/' + $json.targetKeyword.toLowerCase().replace(/\\s+/g, '-') + '/' } }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": { "neverError": true }
          }
        }
      }
    },
    {
      "id": "d1000000-0000-0000-0000-000000000406",
      "name": "Check WP Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2220, 300],
      "parameters": {
        "jsCode": "const wpResponse = $input.item.json;\nconst inputData = $('Parse Claude Output').item.json;\n\nif (!wpResponse.id) {\n  throw new Error('WordPress page creation failed: ' + JSON.stringify(wpResponse).substring(0, 300));\n}\n\nconst pageUrl = wpResponse.link || (inputData.wpUrl + '/?p=' + wpResponse.id);\nconst editUrl = inputData.wpUrl + '/wp-admin/post.php?post=' + wpResponse.id + '&action=edit';\n\nreturn [{\n  json: {\n    ...inputData,\n    wpPageId: wpResponse.id,\n    wpPageUrl: pageUrl,\n    wpEditUrl: editUrl,\n    wpStatus: wpResponse.status\n  }\n}];"
      }
    },
    {
      "id": "d1000000-0000-0000-0000-000000000412",
      "name": "Register Page in DB",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [2440, 200],
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO client_pages (project_name, page_url, page_title, target_keyword, wp_post_id, published_date)\nVALUES (\n  '{{ $json.projectName }}',\n  '{{ $json.wpPageUrl }}',\n  '{{ $json.wpTitle }}',\n  '{{ $json.targetKeyword }}',\n  {{ $json.wpPageId }},\n  NOW()\n) ON CONFLICT DO NOTHING;",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "N7nIyQgdtKFT9Ye8",
          "name": "Growth Escalators Postgres"
        }
      }
    },
    {
      "id": "d1000000-0000-0000-0000-000000000413",
      "name": "Trigger Indexing Ping",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [2440, 340],
      "parameters": {
        "method": "POST",
        "url": "https://primary-production-6c6f5.up.railway.app/webhook/seo-indexing-ping",
        "sendBody": true,
        "bodyContentType": "json",
        "jsonBody": "={\"pageUrl\": \"{{ $('Check WP Response').item.json.wpPageUrl }}\", \"projectName\": \"{{ $('Check WP Response').item.json.projectName }}\"}",
        "options": {
          "response": {
            "response": { "neverError": true }
          }
        }
      }
    },
    {
      "id": "d1000000-0000-0000-0000-000000000414",
      "name": "Trigger Internal Linking",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [2440, 480],
      "parameters": {
        "method": "POST",
        "url": "https://primary-production-6c6f5.up.railway.app/webhook/seo-internal-linking",
        "sendBody": true,
        "bodyContentType": "json",
        "jsonBody": "={\"pageUrl\": \"{{ $('Check WP Response').item.json.wpPageUrl }}\", \"targetKeyword\": \"{{ $('Check WP Response').item.json.targetKeyword }}\", \"projectName\": \"{{ $('Check WP Response').item.json.projectName }}\"}",
        "options": {
          "response": {
            "response": { "neverError": true }
          }
        }
      }
    },
    {
      "id": "d1000000-0000-0000-0000-000000000407",
      "name": "Slack Publish Confirmation",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [2660, 300],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0ALLQG0SUS",
          "mode": "id"
        },
        "text": "={{ `✅ *WordPress Draft Created (v2 + Brand Context)*\\n*Project:* ${$('Check WP Response').item.json.projectName}\\n*Keyword:* ${$('Check WP Response').item.json.targetKeyword}\\n*Title:* ${$('Check WP Response').item.json.wpTitle}\\n*NL Salience:* ${($('Check WP Response').item.json.keywordSalience || 0).toFixed(2)}\\n*Status:* DRAFT\\n*Edit:* ${$('Check WP Response').item.json.wpEditUrl}\\n*URL:* ${$('Check WP Response').item.json.wpPageUrl}` }}",
        "otherOptions": { "mrkdwn": true }
      },
      "credentials": {
        "slackApi": {
          "id": "VaNm8cr89lLAGlpJ",
          "name": "Slack Bot"
        }
      }
    },
    {
      "id": "d1000000-0000-0000-0000-000000000408",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2660, 480],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, pageId: $('Check WP Response').item.json.wpPageId, pageUrl: $('Check WP Response').item.json.wpPageUrl, editUrl: $('Check WP Response').item.json.wpEditUrl, project: $('Check WP Response').item.json.projectName, keyword: $('Check WP Response').item.json.targetKeyword, keywordSalience: $('Check WP Response').item.json.keywordSalience || 0 }) }}"
      }
    }
  ],
  "connections": {
    "Webhook: Publish Content": {
      "main": [[{ "node": "Validate Input", "type": "main", "index": 0 }]]
    },
    "Validate Input": {
      "main": [[{ "node": "Fetch Knowledge Base", "type": "main", "index": 0 }]]
    },
    "Fetch Knowledge Base": {
      "main": [[{ "node": "Build Claude Prompt", "type": "main", "index": 0 }]]
    },
    "Build Claude Prompt": {
      "main": [[{ "node": "Generate Content with Claude", "type": "main", "index": 0 }]]
    },
    "Generate Content with Claude": {
      "main": [[{ "node": "NL API Entity Scoring", "type": "main", "index": 0 }]]
    },
    "NL API Entity Scoring": {
      "main": [[{ "node": "Check Entity Salience", "type": "main", "index": 0 }]]
    },
    "Check Entity Salience": {
      "main": [[{ "node": "Parse Claude Output", "type": "main", "index": 0 }]]
    },
    "Parse Claude Output": {
      "main": [[{ "node": "Create WordPress Draft", "type": "main", "index": 0 }]]
    },
    "Create WordPress Draft": {
      "main": [[{ "node": "Check WP Response", "type": "main", "index": 0 }]]
    },
    "Check WP Response": {
      "main": [
        [
          { "node": "Register Page in DB", "type": "main", "index": 0 },
          { "node": "Trigger Indexing Ping", "type": "main", "index": 0 },
          { "node": "Trigger Internal Linking", "type": "main", "index": 0 },
          { "node": "Slack Publish Confirmation", "type": "main", "index": 0 },
          { "node": "Respond to Webhook", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "settings": {
    "callerPolicy": "workflowsFromSameOwner",
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "staticData": null,
  "tags": [{ "name": "SEO" }]
}
