n8n-workflows/seo/WF-SEO-05-pagespeed-monitor.json
{
  "name": "WF-SEO-05: PageSpeed Monitor",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "30 1 * * 0"
            }
          ]
        }
      },
      "id": "seo05-cron",
      "name": "Schedule: Every Sunday 1:30AM UTC",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "jsCode": "// Define all 3 client sites\nconst clients = [\n  { project: 'aarohaom', url: 'https://aarohaom.com' },\n  { project: 'blackpanda', url: 'https://blackpandaenterprises.com' },\n  { project: 'ageddentistry', url: 'https://ageddentistry.org' }\n];\nreturn clients.map(c => ({ json: c }));"
      },
      "id": "seo05-clients",
      "name": "Define Client Sites",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "url": "=https://www.googleapis.com/pagespeedonline/v5/runPagespeed?url={{ $json.url }}&strategy=mobile&category=performance&category=accessibility&category=best-practices&category=seo",
        "options": {
          "response": {
            "response": {
              "fullResponse": false
            }
          }
        }
      },
      "id": "seo05-pagespeed-mobile",
      "name": "PageSpeed Mobile",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [650, 200]
    },
    {
      "parameters": {
        "url": "=https://www.googleapis.com/pagespeedonline/v5/runPagespeed?url={{ $('Define Client Sites').item.json.url }}&strategy=desktop&category=performance",
        "options": {}
      },
      "id": "seo05-pagespeed-desktop",
      "name": "PageSpeed Desktop",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [650, 400]
    },
    {
      "parameters": {
        "jsCode": "const mobileData = $('PageSpeed Mobile').item.json;\nconst desktopData = $('PageSpeed Desktop').item.json;\nconst project = $('Define Client Sites').item.json.project;\n\nconst mobileScore = Math.round((mobileData.lighthouseResult?.categories?.performance?.score || 0) * 100);\nconst desktopScore = Math.round((desktopData.lighthouseResult?.categories?.performance?.score || 0) * 100);\n\nconst audits = mobileData.lighthouseResult?.audits || {};\nconst lcp = parseFloat((audits['largest-contentful-paint']?.numericValue / 1000 || 0).toFixed(2));\nconst fid = parseFloat((audits['max-potential-fid']?.numericValue || 0).toFixed(2));\nconst cls = parseFloat((audits['cumulative-layout-shift']?.numericValue || 0).toFixed(3));\n\nreturn [{ json: {\n  project,\n  mobileScore,\n  desktopScore,\n  lcp,\n  fid,\n  cls,\n  needsAlert: mobileScore < 70,\n  checkedAt: new Date().toISOString()\n}}];"
      },
      "id": "seo05-parse",
      "name": "Parse Scores",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO site_health_metrics (project_name, pagespeed_mobile, pagespeed_desktop, lcp, fid, cls, checked_at)\nVALUES ('{{ $json.project }}', {{ $json.mobileScore }}, {{ $json.desktopScore }}, {{ $json.lcp }}, {{ $json.fid }}, {{ $json.cls }}, NOW())\nRETURNING id;",
        "options": {}
      },
      "id": "seo05-store",
      "name": "Store in DB",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1050, 300],
      "credentials": {
        "postgres": {
          "id": "N7nIyQgdtKFT9Ye8",
          "name": "Growth Escalators Postgres"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Aggregate all results into a weekly summary\nconst allItems = $input.all();\nconst results = allItems.map(item => item.json);\n\nconst redAlerts = results.filter(r => r.needsAlert);\nconst goodSites = results.filter(r => !r.needsAlert);\n\nlet summaryText = `*SEO Weekly PageSpeed Report — ${new Date().toDateString()}*\\n\\n`;\n\nresults.forEach(r => {\n  const emoji = r.mobileScore < 50 ? '🔴' : r.mobileScore < 70 ? '🟡' : '🟢';\n  summaryText += `${emoji} *${r.project}* — Mobile: ${r.mobileScore} | Desktop: ${r.desktopScore}\\n`;\n  summaryText += `   LCP: ${r.lcp}s | CLS: ${r.cls}\\n`;\n});\n\nif (redAlerts.length > 0) {\n  summaryText += `\\n⚠️ *${redAlerts.length} site(s) need immediate attention (mobile score < 70)*`;\n}\n\nreturn [{ json: { summaryText, redAlerts, goodSites, allResults: results } }];"
      },
      "id": "seo05-aggregate",
      "name": "Aggregate Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C08EMRX2HHN",
          "mode": "id"
        },
        "text": "={{ $json.summaryText }}",
        "otherOptions": {}
      },
      "id": "seo05-slack",
      "name": "Post to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [1450, 300],
      "credentials": {
        "slackApi": {
          "id": "VaNm8cr89lLAGlpJ",
          "name": "Slack Bot"
        }
      }
    }
  ],
  "connections": {
    "Schedule: Every Sunday 1:30AM UTC": {
      "main": [[{ "node": "Define Client Sites", "type": "main", "index": 0 }]]
    },
    "Define Client Sites": {
      "main": [
        [
          { "node": "PageSpeed Mobile", "type": "main", "index": 0 },
          { "node": "PageSpeed Desktop", "type": "main", "index": 0 }
        ]
      ]
    },
    "PageSpeed Mobile": {
      "main": [[{ "node": "Parse Scores", "type": "main", "index": 0 }]]
    },
    "PageSpeed Desktop": {
      "main": [[{ "node": "Parse Scores", "type": "main", "index": 0 }]]
    },
    "Parse Scores": {
      "main": [[{ "node": "Store in DB", "type": "main", "index": 0 }]]
    },
    "Store in DB": {
      "main": [[{ "node": "Aggregate Summary", "type": "main", "index": 0 }]]
    },
    "Aggregate Summary": {
      "main": [[{ "node": "Post to Slack", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [{ "name": "SEO" }]
}
