n8n-workflows/seo/WF-SEO-09-internal-linking.json
{
  "name": "WF-SEO-09: Internal Linking Suggester",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "seo-internal-linking",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "seo09-webhook",
      "name": "Webhook: New Page Published",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "seo-internal-linking"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.item.json.body || $input.item.json;\nconst { pageUrl, targetKeyword, projectName } = body;\n\nif (!pageUrl || !projectName) {\n  throw new Error('Missing required fields: pageUrl, projectName');\n}\n\nreturn [{ json: { pageUrl, targetKeyword, projectName } }];"
      },
      "id": "seo09-validate",
      "name": "Validate Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT page_url, page_title, target_keyword\nFROM client_pages\nWHERE project_name = '{{ $json.projectName }}'\n  AND page_url != '{{ $json.pageUrl }}'\nORDER BY published_date DESC\nLIMIT 50;",
        "options": {}
      },
      "id": "seo09-get-pages",
      "name": "Get Existing Pages",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [650, 300],
      "credentials": {
        "postgres": {
          "id": "N7nIyQgdtKFT9Ye8",
          "name": "Growth Escalators Postgres"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const newPage = $('Validate Input').item.json;\nconst existingPages = $input.all().map(i => i.json);\n\nif (existingPages.length === 0) {\n  return [{ json: { skip: true, message: 'No existing pages to link from/to' } }];\n}\n\nconst pageList = existingPages\n  .filter(p => p.page_url)\n  .map(p => `- URL: ${p.page_url} | Keyword: ${p.target_keyword || 'general'} | Title: ${p.page_title || ''}`)\n  .join('\\n');\n\nconst prompt = `New page target keyword: \"${newPage.targetKeyword}\"\nNew page URL: ${newPage.pageUrl}\n\nExisting pages:\\n${pageList}\n\nFind:\n1. Five (5) most topically relevant existing pages TO LINK TO this new page (they should receive an outgoing link pointing to the new page)\n2. Three (3) existing pages that this new page should link FROM (the new page gets an outgoing internal link to them)\n\nReturn ONLY a JSON object:\n{\n  \"link_to_new_page\": [\n    {\"page_url\": \"url\", \"suggested_anchor_text\": \"anchor text\"}\n  ],\n  \"link_from_new_page\": [\n    {\"page_url\": \"url\", \"suggested_anchor_text\": \"anchor text\"}\n  ]\n}`;\n\nreturn [{ json: { ...newPage, claudePrompt: prompt, existingPagesCount: existingPages.length } }];"
      },
      "id": "seo09-build-prompt",
      "name": "Build Linking Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "={{ $env.CLAUDE_API_KEY }}" },
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "jsonBody": "={\"model\":\"claude-sonnet-4-6\",\"max_tokens\":1024,\"messages\":[{\"role\":\"user\",\"content\":{{ $json.claudePrompt | toJsonString }}}]}",
        "options": {}
      },
      "id": "seo09-claude",
      "name": "Claude Linking Suggestions",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "jsCode": "const claudeData = $input.item.json;\nconst inputData = $('Build Linking Prompt').item.json;\n\nif (inputData.skip) return [{ json: inputData }];\n\nlet suggestions = { link_to_new_page: [], link_from_new_page: [] };\ntry {\n  const rawText = claudeData.content?.[0]?.text || '{}';\n  const jsonMatch = rawText.match(/\\{[\\s\\S]*\\}/);\n  suggestions = jsonMatch ? JSON.parse(jsonMatch[0]) : suggestions;\n} catch(e) {\n  console.log('Parse error:', e.message);\n}\n\nreturn [{ json: {\n  pageUrl: inputData.pageUrl,\n  targetKeyword: inputData.targetKeyword,\n  projectName: inputData.projectName,\n  linkToNewPage: suggestions.link_to_new_page || [],\n  linkFromNewPage: suggestions.link_from_new_page || []\n}}];"
      },
      "id": "seo09-parse",
      "name": "Parse Suggestions",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE client_pages\nSET internal_links_out = COALESCE(internal_links_out, '[]'::jsonb) || '{{ JSON.stringify($json.linkFromNewPage) }}'::jsonb\nWHERE project_name = '{{ $json.projectName }}' AND page_url = '{{ $json.pageUrl }}';\n\nINSERT INTO client_pages (project_name, page_url, internal_links_in)\nSELECT '{{ $json.projectName }}', unnest_link->>'page_url',\n  jsonb_build_array(jsonb_build_object('url', '{{ $json.pageUrl }}', 'anchor', unnest_link->>'suggested_anchor_text'))\nFROM jsonb_array_elements('{{ JSON.stringify($json.linkToNewPage) }}'::jsonb) AS unnest_link\nON CONFLICT (project_name, page_url) DO NOTHING;",
        "options": {}
      },
      "id": "seo09-store",
      "name": "Store Link Suggestions",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1450, 300],
      "credentials": {
        "postgres": {
          "id": "N7nIyQgdtKFT9Ye8",
          "name": "Growth Escalators Postgres"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C08EMRX2HHN",
          "mode": "id"
        },
        "text": "=*🔗 Internal Linking Suggestions for:* {{ $('Parse Suggestions').item.json.pageUrl }}\n\n*Pages to link TO this new page ({{ $('Parse Suggestions').item.json.linkToNewPage.length }}):*\n{{ $('Parse Suggestions').item.json.linkToNewPage.map(l => '• ' + l.page_url + ' — anchor: \"' + l.suggested_anchor_text + '\"').join('\\n') }}\n\n*Pages this new page should link FROM ({{ $('Parse Suggestions').item.json.linkFromNewPage.length }}):*\n{{ $('Parse Suggestions').item.json.linkFromNewPage.map(l => '• ' + l.page_url + ' — anchor: \"' + l.suggested_anchor_text + '\"').join('\\n') }}",
        "otherOptions": {}
      },
      "id": "seo09-slack",
      "name": "Post Link Suggestions",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [1650, 300],
      "credentials": {
        "slackApi": {
          "id": "VaNm8cr89lLAGlpJ",
          "name": "Slack Bot"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, suggestions: $('Parse Suggestions').item.json }) }}"
      },
      "id": "seo09-respond",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1850, 300]
    }
  ],
  "connections": {
    "Webhook: New Page Published": {
      "main": [[{ "node": "Validate Input", "type": "main", "index": 0 }]]
    },
    "Validate Input": {
      "main": [[{ "node": "Get Existing Pages", "type": "main", "index": 0 }]]
    },
    "Get Existing Pages": {
      "main": [[{ "node": "Build Linking Prompt", "type": "main", "index": 0 }]]
    },
    "Build Linking Prompt": {
      "main": [[{ "node": "Claude Linking Suggestions", "type": "main", "index": 0 }]]
    },
    "Claude Linking Suggestions": {
      "main": [[{ "node": "Parse Suggestions", "type": "main", "index": 0 }]]
    },
    "Parse Suggestions": {
      "main": [[{ "node": "Store Link Suggestions", "type": "main", "index": 0 }]]
    },
    "Store Link Suggestions": {
      "main": [
        [
          { "node": "Post Link Suggestions", "type": "main", "index": 0 },
          { "node": "Respond to Webhook", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [{ "name": "SEO" }]
}
